<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://13.93.73.149/police_stations
        </property>

        <property name = "hibernate.connection.username">
            admin
        </property>

        <property name = "hibernate.connection.password">
            admin
        </property>

        <!-- List of XML mapping files -->
        <mapping resource="Headquarter.hbm.xml"/>
        <mapping resource="Kit.hbm.xml"/>
        <mapping resource="Officer.hbm.xml"/>
        <mapping resource="PatrolRegion.hbm.xml"/>
        <mapping resource="Report.hbm.xml"/>
        <mapping resource="Shift.hbm.xml"/>
        <mapping resource="Street.hbm.xml"/>
        <mapping resource="Tool.hbm.xml"/>
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Vehicle.hbm.xml"/>





    </session-factory>
</hibernate-configuration>